<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>255750852401-ifasir297obemfo4mvces7q5e34q91k8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255750852401-ifasir297obemfo4mvces7q5e34q91k8</string>
	<key>API_KEY</key>
	<string>AIzaSyD67vruAu7K5rLO3_I8WefpsaIGIiHzF9I</string>
	<key>GCM_SENDER_ID</key>
	<string>255750852401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Julian-Abhari.FirebaseDatabase</string>
	<key>PROJECT_ID</key>
	<string>fir-database-95e62</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-database-95e62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:255750852401:ios:f18dc188ca35aa0b</string>
	<key>DATABASE_URL</key>
	<string>https://fir-database-95e62.firebaseio.com</string>
</dict>
</plist>